In [2]:
import os
os.listdir()

['.idea',
 '.ipynb_checkpoints',
 'main.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets-without-header.csv',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [3]:
import pandas

In [4]:
df1=pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df2=pandas.read_json("supermarkets.json")
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df3=pandas.read_excel("supermarkets.xlsx", sheet_name=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df4=pandas.read_csv("supermarkets-without-header.csv")
df4.columns = ["Id", "Adrese", "Pilsēta", "Indekss", "Valsts", "Nosaukums", "Dar. skaits"]
df4

,Id,Adrese,Pilsēta,Indekss,Valsts,Nosaukums,Dar. skaits
0,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
1,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
2,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
3,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
4,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
df5=df4.set_index("Id")
df5

,Adrese,Pilsēta,Indekss,Valsts,Nosaukums,Dar. skaits
Id,,,,,,
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df5.loc["3":"4", "Indekss":"Valsts"] #izgriež daļu no datiem

             Indekss Valsts
Id
3   California 94114    USA
4           CA 94114    USA

In [10]:
df5.loc[:,"Valsts"] #izgriež konkrēto kolonu

Id
2    USA
3    USA
4    USA
5    USA
6    USA
Name: Valsts, dtype: object

In [11]:
df5

,Adrese,Pilsēta,Indekss,Valsts,Nosaukums,Dar. skaits
Id,,,,,,
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df5.iloc[1:3,2:4] #izgriež konkrēto kolonu

             Indekss Valsts
Id
3   California 94114    USA
4           CA 94114    USA

In [13]:
df5.shape

(5, 6)

In [14]:
df5.shape[0]*["Ziemeļamerika"]

['Ziemeļamerika',
 'Ziemeļamerika',
 'Ziemeļamerika',
 'Ziemeļamerika',
 'Ziemeļamerika']

In [15]:
df5["Kontinents"] = df5.shape[0]*["Ziemeļamerika"]
df5

,Adrese,Pilsēta,Indekss,Valsts,Nosaukums,Dar. skaits,Kontinents
Id,,,,,,,
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,Ziemeļamerika
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,Ziemeļamerika
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,Ziemeļamerika
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,Ziemeļamerika
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,Ziemeļamerika

In [16]:
df5["Kontinents un Valsts"] = df5["Valsts"] + "," + "Ziemeļamerika"
df5

,Adrese,Pilsēta,Indekss,Valsts,Nosaukums,Dar. skaits,Kontinents,Kontinents un Valsts
Id,,,,,,,,
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,Ziemeļamerika,"USA,Ziemeļamerika"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,Ziemeļamerika,"USA,Ziemeļamerika"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,Ziemeļamerika,"USA,Ziemeļamerika"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,Ziemeļamerika,"USA,Ziemeļamerika"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,Ziemeļamerika,"USA,Ziemeļamerika"

In [18]:
from geopy.geocoders import ArcGIS

nom=ArcGIS()
nom.geocode("Dumbrāja 18 Rīga")

Location(Dumbrāja iela 18, Rīga, 1067, (56.95702998757224, 24.018679998823757, 0.0))

In [28]:
df6 = pandas.read_csv("supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [39]:
df6["Consolidate adress"] = df6["Address"] + ", " + df6["City"] +", "+ df6["State"]
df6

,ID,Address,City,State,Country,Name,Employees,Consolidate adress,Cordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119","(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551 Alvarado St, San Francisco, California, 9..."

In [43]:
df6["Cordinates"] = df6["Consolidate adress"].apply(nom.geocode)
df6

,ID,Address,City,State,Country,Name,Employees,Consolidate adress,Cordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119","(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551 Alvarado St, San Francisco, California, 9..."

In [44]:
df6["Latitude"] = df6["Cordinates"].apply(lambda x: x.latitude if x!= None else None)
df6["Longitude"] = df6["Cordinates"].apply(lambda x: x.longitude if x!= None else None)
df6

,ID,Address,City,State,Country,Name,Employees,Consolidate adress,Cordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119","(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229